<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotilyzer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/albums.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@500;600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand header-writing" href="{{ url_for('index2022') }}">
                <img src="static\spotify image\spotiylizer.png" alt="Image" height="30" class="mr-2">
            </a>
            <a class="navbar-brand header-writing" href="{{ url_for('index2022') }}">Spotilyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="yearDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Year
                        </a>
                        <div class="dropdown-menu" aria-labelledby="yearDropdown">
                            <a class="dropdown-item" href="{{ url_for('index') }}">All</a>
                            <a class="dropdown-item" href="{{ url_for('index2021') }}">2021</a>
                            <a class="dropdown-item" href="{{ url_for('index2022') }}">2022</a>
                            <a class="dropdown-item" href="{{ url_for('index2023') }}">2023</a>
                            7 <a class="dropdown-item" href="{{ url_for('index_prediction') }}">Prediction</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link disabled year-keeper" id="selectedYear">2022 History</span>
                    </li>
                    <li class="nav-item">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artists2022') }}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('songs2022') }}">Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('albums2022') }}">Albums</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="rank-col">Rank</th>
                    <th class="cover-col">Cover</th>
                    <th class="artist-col">Album</th>
                    <th class="minutes-col">Minutes Streamed</th>
                    <th class="url-col">URL</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>1</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/red.jpg" alt="Red Album Picture" height="100"></td>
                        <td>{{ top_listened_albums[1][0] }}</td>
                        <td>{{ top_listened_albums[1][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/6kZ42qRrzov54LcAk4onW9" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/30.jpg" alt="30 Picture" height="100"></td>
                        <td>{{ top_listened_albums[2][0] }}</td>
                        <td>{{ top_listened_albums[2][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/21jF5jlMtzo94wbxmJ18aa" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>3</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/bluebanisters.jpg" alt="Blue Banisters Picture" height="100"></td>
                        <td>{{ top_listened_albums[3][0] }}</td>
                        <td>{{ top_listened_albums[3][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/2wwCc6fcyhp1tfY3J6Javr" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>4</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/artemis.jpg" alt="Artemis Picture" height="100"></td>
                        <td>{{ top_listened_albums[4][0] }}</td>
                        <td>{{ top_listened_albums[4][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/1Fp7KUob6eXag90SkbBbnU" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>5</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/smiling.jpg" alt="Such Pretty Forks In The Road Picture" height="100"></td>
                        <td>{{ top_listened_albums[5][0] }}</td>
                        <td>{{ top_listened_albums[5][1] }}</td>                
                        <td class="album-col"><a href="https://open.spotify.com/album/35FvRurpS3cXP20ZYSGjjt" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>6</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/solarpower.jpg" alt="Solar Power Picture" height="100"></td>
                        <td>{{ top_listened_albums[6][0] }}</td>
                        <td>{{ top_listened_albums[6][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/3lK2JRwfIOn2NaYtgEGTmZ" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>7</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/godstouch.jpg" alt="The Gods We Can Touch Picture" height="100"></td>
                        <td>{{ top_listened_albums[7][0] }}</td>
                        <td>{{ top_listened_albums[7][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/3fIcUTL0XOqnvHIdDa3TY2" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>8</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/laurel.jpg" alt="Laurel Hell Picture" height="100"></td>
                        <td>{{ top_listened_albums[8][0] }}</td>
                        <td>{{ top_listened_albums[8][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/4rcinMUHEWOxpIwJo2sf22" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>9</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/lovepower.jpg" alt="If i cant have love i want power Picture" height="100"></td>
                        <td>{{ top_listened_albums[9][0] }}</td>
                        <td>{{ top_listened_albums[9][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/1o8ExR66PcMb1h8a1nhi9k" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>10</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/norman.jpg" alt="Norman Fucking Rockwell! Picture" height="100"></td>
                        <td>{{ top_listened_albums[10][0] }}</td>
                        <td>{{ top_listened_albums[10][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/5XpEKORZ4y6OrCZSKsi46A" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>

            </tbody>
        </table>

        </div>

        
        <img class = "graphs" src="static\graphs\top_albums_2022.png" alt="Top Listened Albums - 2022">

    </body>
</html>