<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotilyzer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/songs.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@500;600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand header-writing" href="{{ url_for('index2022') }}">
                <img src="static\spotify image\spotiylizer.png" alt="Image" height="30" class="mr-2">
            </a>
            <a class="navbar-brand header-writing" href="{{ url_for('index2022') }}">Spotilyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="yearDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Year
                        </a>
                        <div class="dropdown-menu" aria-labelledby="yearDropdown">
                            <a class="dropdown-item" href="{{ url_for('index') }}">All</a>
                            <a class="dropdown-item" href="{{ url_for('index2021') }}">2021</a>
                            <a class="dropdown-item" href="{{ url_for('index2022') }}">2022</a>
                            <a class="dropdown-item" href="{{ url_for('index2023') }}">2023</a>3
                            <a class="dropdown-item" href="{{ url_for('index_prediction') }}">Prediction</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link disabled year-keeper" id="selectedYear">2022 History</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artists2022') }}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('songs2022') }}">Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('albums2022') }}">Albums</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="rank-col">Rank</th>
                    <th class="cover-col">Cover</th>
                    <th class="artist-col">Song</th>
                    <th class="minutes-col">Minutes Streamed</th>
                    <th class="url-col">URL</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>1</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/artemis.jpg" alt="Underground Picture" height="100"></td>
                        <td>{{ top_listened_songs[1][0] }}</td>
                        <td>{{ top_listened_songs[1][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/1Fp7KUob6eXag90SkbBbnU" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>2</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/alltoowell.jpg" alt="All too well Picture" height="100"></td>
                        <td>{{ top_listened_songs[2][0] }}</td>
                        <td>{{ top_listened_songs[2][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/5enxwA8aAbwZbf5qCHORXi" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>3</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/smiling.jpg" alt="Smiling Picture" height="100"></td>
                        <td>{{ top_listened_songs[3][0] }}</td>
                        <td>{{ top_listened_songs[3][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/54U11O43LufcvYcVkYZhIb" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>4</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/lullaby.jpg" alt="Lullaby Picture" height="100"></td>
                        <td>{{ top_listened_songs[4][0] }}</td>
                        <td>{{ top_listened_songs[4][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/1De66xUavye2fNqhCwtgyo" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>5</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/cokgec.jpg" alt="Çok Geç Kaldin Picture" height="100"></td>
                        <td>{{ top_listened_songs[5][0] }}</td>
                        <td>{{ top_listened_songs[5][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/7EVqq55PgzK3keIKAb4QO2" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>6</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/stateofgrace.jpg" alt="State of grace Picture" height="100"></td>
                        <td>{{ top_listened_songs[6][0] }}</td>
                        <td>{{ top_listened_songs[6][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/5lFDIbYMcFHPPgzMcnPqSz" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>7</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/oeats.jpg" alt="Oats In The Water Picture" height="100"></td>
                        <td>{{ top_listened_songs[7][0] }}</td>
                        <td>{{ top_listened_songs[7][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/4dr5sJ1p6mdNpK3fIUz8vR" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>8</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/greatgig.png" alt="Great gig Picture" height="100"></td>
                        <td>{{ top_listened_songs[8][0] }}</td>
                        <td>{{ top_listened_songs[8][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/25tZHMv3ctlzqDaHAeuU9c" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>9</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/lovebrain.jpg" alt="Love On The Brain Picture" height="100"></td>
                        <td>{{ top_listened_songs[9][0] }}</td>
                        <td>{{ top_listened_songs[9][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/5oO3drDxtziYU2H1X23ZIp" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>10</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/downhill.jpg" alt="Downhill Lullaby Picture" height="100"></td>
                        <td>{{ top_listened_songs[10][0] }}</td>
                        <td>{{ top_listened_songs[10][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/5pTpFp9wr8X7uddedE7uJS" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>



            </tbody>
        </table>

        </div>

        <img class = "graphs" src="static\graphs\top_songs_2022.png" alt="Top Listened Songs - 2022">

</body>
</html>