<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotilyzer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/albums.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@500;600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand header-writing" href="{{ url_for('index2021') }}">
                <img src="static\spotify image\spotiylizer.png" alt="Image" height="30" class="mr-2">
            </a>
            <a class="navbar-brand header-writing" href="{{ url_for('index2021') }}">Spotilyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="yearDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Year
                        </a>
                        <div class="dropdown-menu" aria-labelledby="yearDropdown">
                            <a class="dropdown-item" href="{{ url_for('index') }}">All</a>
                            <a class="dropdown-item" href="{{ url_for('index2021') }}">2021</a>
                            <a class="dropdown-item" href="{{ url_for('index2022') }}">2022</a>
                            <a class="dropdown-item" href="{{ url_for('index2023') }}">2023</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link disabled year-keeper" id="selectedYear">2021 History</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artists2021') }}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('songs2021') }}">Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('albums2021') }}">Albums</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="rank-col">Rank</th>
                    <th class="cover-col">Cover</th>
                    <th class="artist-col">Album</th>
                    <th class="minutes-col">Minutes Streamed</th>
                    <th class="url-col">URL</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>1</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/forget.jpg" alt="I forgot Album Picture" height="100"></td>
                        <td>{{ top_listened_albums[1][0] }}</td>
                        <td>{{ top_listened_albums[1][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/4WI3oFEsDiHU3I5xHz88sF" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/ceremonials.jpg" alt="Ceremonials Picture" height="100"></td>
                        <td>{{ top_listened_albums[2][0] }}</td>
                        <td>{{ top_listened_albums[2][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/19J2iqK89BCrNG4El2FRi5" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>3</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/queenofpeace.jpg" alt="How big how blue  Picture" height="100"></td>
                        <td>{{ top_listened_albums[3][0] }}</td>
                        <td>{{ top_listened_albums[3][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/2jn2n5OkuHliOLKCqHnjXV" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>4</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/everykingdom.jpg" alt="Every kingdom Picture" height="100"></td>
                        <td>{{ top_listened_albums[4][0] }}</td>
                        <td>{{ top_listened_albums[4][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/57PgT4iuDurzlJnkYjrpce" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>5</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/lungs.jpg" alt="Lungs Picture" height="100"></td>
                        <td>{{ top_listened_albums[5][0] }}</td>
                        <td>{{ top_listened_albums[5][1] }}</td>                
                        <td class="album-col"><a href="https://open.spotify.com/album/1rLLyY5p6HXNl2lKzINWp5" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>6</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/lust.jpg" alt="Lust for life Picture" height="100"></td>
                        <td>{{ top_listened_albums[6][0] }}</td>
                        <td>{{ top_listened_albums[6][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/7xYiTrbTL57QO0bb4hXIKo" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>7</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/norman.jpg" alt="Norman rockwell Picture" height="100"></td>
                        <td>{{ top_listened_albums[7][0] }}</td>
                        <td>{{ top_listened_albums[7][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/5XpEKORZ4y6OrCZSKsi46A" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>8</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/honey.jpg" alt="Honeymoon Picture" height="100"></td>
                        <td>{{ top_listened_albums[8][0] }}</td>
                        <td>{{ top_listened_albums[8][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/2DpEBrjCur1ythIZ10gJWw" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>9</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/born.jpg" alt="Born to die Picture" height="100"></td>
                        <td>{{ top_listened_albums[9][0] }}</td>
                        <td>{{ top_listened_albums[9][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/4F5dVhgk569Du5cLfal3t5" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>10</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/album images/badlands.jpg" alt="Badlands Picture" height="100"></td>
                        <td>{{ top_listened_albums[10][0] }}</td>
                        <td>{{ top_listened_albums[10][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/album/5OZJflQcQCdZLQjtUudCin" target="_blank"><img src="static\spotify image\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>

            </tbody>
        </table>

</body>
</html>