<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Listened Data</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Link to Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@500;600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">


  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            

            <a class="navbar-brand header-writing" href="{{ url_for('index') }}">
                <img src="static\spotiylizer.png" alt="Image" height="30" class="mr-2">
            </a>
            <a class="navbar-brand header-writing" href="{{ url_for('index') }}">Spotilyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="yearDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Year
                        </a>
                        <div class="dropdown-menu" aria-labelledby="yearDropdown">
                            <a class="dropdown-item" href="{{ url_for('index') }}">All</a>
                            <a class="dropdown-item" href="{{ url_for('index2021') }}">2021</a>
                            <a class="dropdown-item" href="{{ url_for('index2022') }}">2022</a>
                            <a class="dropdown-item" href="{{ url_for('index2023') }}">2023</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link disabled year-keeper" id="selectedYear">2021 History</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artists2021') }}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('songs2021') }}">Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('albums2021') }}">Albums</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="header">
            <h1 class="mb-4 header-writing sub-header">Welcome to Spotilyzer - My Personal Music Insight!</h1>
            <h1 class="mb-4 header-writing sub-header">You can access 2021 listening activities from this page using navigation bar!</h1>
            <p class = "description">Here, you will have access to my top listened artists, songs and albums of 2021! You can go through categories using navigation bar!</p>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
