<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotilyzer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='songs.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@500;600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand header-writing" href="{{ url_for('index') }}">
                <img src="static\spotiylizer.png" alt="Image" height="30" class="mr-2">
            </a>
            <a class="navbar-brand header-writing" href="{{ url_for('index') }}">Spotilyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artists') }}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('songs') }}">Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('albums') }}">Albums</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="rank-col">Rank</th>
                    <th class="cover-col">Cover</th>
                    <th class="artist-col">Song</th>
                    <th class="minutes-col">Minutes Streamed</th>
                    <th class="url-col">URL</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>1</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/ultra.jpg" alt="Cruel World Picture" height="100"></td>
                        <td>{{ top_listened_songs[1][0] }}</td>
                        <td>{{ top_listened_songs[1][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/6ayKgleoMF26lvU1Z7wVm7" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>2</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/norman.jpg" alt="Venice Bitch Picture" height="100"></td>
                        <td>{{ top_listened_songs[2][0] }}</td>
                        <td>{{ top_listened_songs[2][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/3hwQhakFwm9soLEBnSDH17" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>3</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/born.jpg" alt="Born to die Picture" height="100"></td>
                        <td>{{ top_listened_songs[3][0] }}</td>
                        <td>{{ top_listened_songs[3][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/2wMby9pciuGUIP8q7y4Yn6" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>4</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/norman.jpg" alt="California Picture" height="100"></td>
                        <td>{{ top_listened_songs[4][0] }}</td>
                        <td>{{ top_listened_songs[4][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/7oTE1KmtU2ml9zBhv9Reao" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>5</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/pure.jpg" alt="Ribs Picture" height="100"></td>
                        <td>{{ top_listened_songs[5][0] }}</td>
                        <td>{{ top_listened_songs[5][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/2MvvoeRt8NcOXWESkxWn3g" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>6</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/born.jpg" alt="Off to the races Picture" height="100"></td>
                        <td>{{ top_listened_songs[6][0] }}</td>
                        <td>{{ top_listened_songs[6][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/6W6EcslYX6aPakNdE0mgOb" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>7</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/midnights.jpg" alt="Snow on the beach Picture" height="100"></td>
                        <td>{{ top_listened_songs[7][0] }}</td>
                        <td>{{ top_listened_songs[7][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/1wtOxkiel43cVs0Yux5Q4h" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>8</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/video games.jpg" alt="Video games Picture" height="100"></td>
                        <td>{{ top_listened_songs[8][0] }}</td>
                        <td>{{ top_listened_songs[8][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/5xTEkzHycz81QTcqCS9oVv" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>9</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/melo.jpg" alt="Green light Picture" height="100"></td>
                        <td>{{ top_listened_songs[9][0] }}</td>
                        <td>{{ top_listened_songs[9][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/6ie2Bw3xLj2JcGowOlcMhb" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>
                    <tr>
                        <td>10</td>
                        <!-- Assuming the picture URL is in the second column -->
                        <td><img src="static/song images/born.jpg" alt="National anthem Picture" height="100"></td>
                        <td>{{ top_listened_songs[10][0] }}</td>
                        <td>{{ top_listened_songs[10][1] }}</td>
                        <td class="album-col"><a href="https://open.spotify.com/track/5JyDveG5JnK2PqEXtETUp1" target="_blank"><img src="static\spotift_transparent.png" alt="Spotify Logo"></a></td>
                   
                    </tr>



            </tbody>
        </table>


</body>
</html>